In [192]:
from urllib import request
import json
import time

header = "date;time;vehicle;line;direction;latitude;longitude;speed"
url = "http://data.itsfactory.fi/journeys/api/1/vehicle-activity"
start_time = time.time()
rows_list = []

while(True):
    # -------------- Make request --------------
    res = urllib.request.urlopen(url).read()
    data = json.loads(res)
    # -------------- Append data to list (as one string per row) --------------
    num_buses = data["data"]["headers"]["paging"]["pageSize"]
    start_index = data["data"]["headers"]["paging"]["startIndex"]
    for i in range(start_index, num_buses):
        date = data["body"][i]["monitoredVehicleJourney"]["framedVehicleJourneyRef"]["dateFrameRef"]
        try:
            bus_time = data["body"][i]["recordedAtTime"][11:19]  
        except:
            bus_time = bus_time # annoying indexing/key/missing data bug, using approximation
            print("Something went wrong on")    
        line = data["body"][i]["monitoredVehicleJourney"]["lineRef"]
        vehicle = data["body"][i]["monitoredVehicleJourney"]["vehicleRef"]
        direction = data["body"][i]["monitoredVehicleJourney"]["directionRef"]
        latitude = data["body"][i]["monitoredVehicleJourney"]["vehicleLocation"]["latitude"]
        longitude = data["body"][i]["monitoredVehicleJourney"]["vehicleLocation"]["longitude"]
        speed = data["body"][i]["monitoredVehicleJourney"]["speed"]
        attributes = [date, bus_time, line, vehicle, direction, latitude, longitude, speed]
        row = ";".join(attributes)
        rows_list.append(row)
    # -------------- Check stopping criterion --------------#
    now_time = time.time()
    if now_time > (start_time + 60*60):
        break
    else:
        time.sleep(5)

Something went wrong on
Something went wrong on
Something went wrong on
Something went wrong on
Something went wrong on
Something went wrong on
Something went wrong on
Something went wrong on
Something went wrong on
Something went wrong on
Something went wrong on
Something went wrong on
Something went wrong on
Something went wrong on
Something went wrong on
Something went wrong on
Something went wrong on
Something went wrong on
Something went wrong on
Something went wrong on
Something went wrong on
Something went wrong on
Something went wrong on
Something went wrong on
Something went wrong on
Something went wrong on
Something went wrong on
Something went wrong on
Something went wrong on
Something went wrong on
Something went wrong on
Something went wrong on
Something went wrong on
Something went wrong on
Something went wrong on
Something went wrong on

In [195]:
data = "\n".join(rows_list)
data = header + "\n" + data

with open("busdata.csv", "w") as outfile:
    for line in data:
        outfile.write(line)

In [200]:
import pandas as pd

bus_df = pd.read_csv("busdata.csv", sep = ";")
bus_df.columns = ["date", "time", "line", "vehicle", "direction", "latitude", "longitude", "speed"]
bus_df

,date,time,line,vehicle,direction,latitude,longitude,speed
0,2019-11-10,18:28:05,50,130791,2,61.418957,23.755066,9.502080
1,2019-11-10,18:28:07,25,130676,1,61.488789,23.843927,1.905072
2,2019-11-10,18:28:05,40,130794,2,61.463081,24.075201,34.345518
3,2019-11-10,18:28:05,25,130674,2,61.503830,23.705774,0.367835
4,2019-11-10,18:28:07,21,130679,2,61.493401,23.770414,0.183058
...,...,...,...,...,...,...,...,...
62708,2019-11-10,19:28:07,42,130027,1,61.502197,23.801743,39.258280
62709,2019-11-10,19:28:06,73,130024,1,61.470467,23.504086,48.968817
62710,2019-11-10,19:28:05,3,130271,1,61.444374,23.872377,2.416148
62711,2019-11-10,19:28:07,3,130272,2,61.498119,23.770077,4.337425
62712,2019-11-10,19:28:06,70,130151,1,61.497265,23.761862,7.667882

In [218]:
line6_df = bus_df[(bus_df["vehicle"] == 130170) &
                  (bus_df["line"] == 6) &
                  (bus_df["direction"] == 2)]

line6_df

,date,time,line,vehicle,direction,latitude,longitude,speed
33745,2019-11-10,18:59:20,6,130170,2,61.492802,23.756515,4.792192
33836,2019-11-10,18:59:24,6,130170,2,61.492840,23.756485,2.409274
33928,2019-11-10,18:59:28,6,130170,2,61.492855,23.756462,1.191122
34020,2019-11-10,18:59:34,6,130170,2,61.492844,23.756468,0.182878
34112,2019-11-10,18:59:38,6,130170,2,61.492828,23.756473,1.570318
...,...,...,...,...,...,...,...,...
62335,2019-11-10,19:27:47,6,130170,2,61.468540,23.852242,45.488474
62418,2019-11-10,19:27:51,6,130170,2,61.468140,23.852695,44.581377
62501,2019-11-10,19:27:59,6,130170,2,61.467491,23.853266,22.022617
62584,2019-11-10,19:28:03,6,130170,2,61.467342,23.853346,12.385190
62667,2019-11-10,19:28:07,6,130170,2,61.467281,23.853300,5.973441